version: "3.9"

services:
  postgres:
    build:
      context: .
      dockerfile: docker/Dockerfile.minimal
    container_name: pg_ask_postgres
    environment:
      POSTGRES_USER: abi
      POSTGRES_PASSWORD: abi
      POSTGRES_DB: askdb
      PG_ASK_AI_KEY: ${API_KEY}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pg_ask_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres
    ports:
      - "8080:80"
    restart: unless-stopped

volumes:
  pgdata:
